<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Content Template</title>
</head>
<body>

<!-- section content header -->
<div id="content_header"style="padding:5px;margin:5px;position:static">
<!--    <table>-->
<!--        <tr th:each="content_det : ${data.desc_detail}">-->
<!--            <td>[[${content_det}]]</td>-->
<!--        </tr>-->
<!--    </table>-->
    <table width=100%>
        <tbody>
        <tr>
            <td>Nama Penerbit</td>
            <td>:</td>
            <td>PT Bank CIMB Niaga</td>
            <td>&nbsp;</td>
            <td>Jenis Produk</td>
            <td>:</td>
            <td>Tabungan</td>
        </tr>
        <tr>
            <td>Nama Produk</td>
            <td>:</td>
            <td>CIMB Preferred Valas (Konven / IB Mudharabah)</td>
            <td>&nbsp;</td>
            <td>Akad</td>
            <td>:</td>
            <td>Mudharabah</td>
        </tr>
        <tr>
            <td>Mata Uang</td>
            <td>:</td>
            <td>IDR</td>
            <td>&nbsp;</td>
            <td>Deskripsi Product</td>
            <td>:</td>
            <td>Tabungan transaksional untuk sehari-hari</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>